.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    &__InnerContainer {
        width: 100%;
        max-width: 120rem;
        display: flex;
        align-items: center;
        h1 {
            font-weight: bold;
        }
        .Container__ButtonContainer {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 1rem;
            a{
                color: white;
                margin-right: 2rem;
            }
        }
        .Container__ButtonSignup {
            background: #25A65C;
            color: white;
            font-weight: bold;
            padding: 1rem 2rem;
            border-radius: 3px;
            border: 0;
            cursor: pointer;
        }
    }
}